In [4]:
# Import Libraries

import janitor
import matplotlib.pyplot as plt
import missingno
import numpy as np
import pandas as pd
import pyreadr
import seaborn as sns
import session_info
import upsetplot

## Pandas Missing Extension

In [ ]:
%run pandas-missing-extension.ipynb

In [5]:
# Settings
%matplotlib inline

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',200)
pd.options.display.float_format= '{:.2f}'.format

# Ignore Warnings
import warnings
warnings.filterwarnings('ignore')

sns.set(
    rc={
        "figure.figsize": (10, 10)
    }
)

sns.set_style("whitegrid")

### Extract Data

In [7]:
dataset_url="https://github.com/njtierney/naniar/raw/master/data/"
path='./data/oceanbuoys.rda'
!wget -q -O  {path} { dataset_url }

In [9]:
df_oceanbuoys = pyreadr.read_r(path).get('oceanbuoys')
df_oceanbuoys

LibrdataError: The file contains an unrecognized object

In [10]:
base_url = "https://github.com/njtierney/naniar/raw/master/data/"
datasets_names = ("oceanbuoys", "pedestrian")
extension = ".rda"

In [11]:
datasets_dfs = {}

for dataset_name in datasets_names:

    dataset_file = f"{ dataset_name }{ extension }"
    dataset_output_file = f"./data/{ dataset_file }"
    dataset_url = f"{ base_url }{ dataset_file }"
    
    !wget -q -O { dataset_output_file } { dataset_url }

    datasets_dfs[f"df_{ dataset_name }"] = pyreadr.read_r(dataset_output_file).get(dataset_name)

datasets_dfs.keys()

dict_keys(['df_oceanbuoys', 'df_pedestrian'])

In [12]:
locals().update(**datasets_dfs)
del datasets_dfs

In [13]:
df_oceanbuoys.shape

(736, 8)

In [14]:
df_oceanbuoys.isnull().sum()

year           0
latitude       0
longitude      0
sea_temp_c     3
air_temp_c    81
humidity      93
wind_ew        0
wind_ns        0
dtype: int64

In [15]:
df_pedestrian.shape

(37700, 9)

In [16]:
df_pedestrian.isnull().sum()

hourly_counts    2548
date_time           0
year                0
month               0
month_day           0
week_day            0
hour                0
sensor_id           0
sensor_name         0
dtype: int64

In [17]:
df_oceanbuoys.head()

,year,latitude,longitude,sea_temp_c,air_temp_c,humidity,wind_ew,wind_ns
0,1997.00,0.00,-110.00,27.59,27.15,79.60,-6.40,5.40
1,1997.00,0.00,-110.00,27.55,27.02,75.80,-5.30,5.30
2,1997.00,0.00,-110.00,27.57,27.00,76.50,-5.10,4.50
3,1997.00,0.00,-110.00,27.62,26.93,76.20,-4.90,2.50
4,1997.00,0.00,-110.00,27.65,26.84,76.40,-3.50,4.10